* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.homeList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  width: 100%;
  text-align: center;
}

.listItem {
  border: 1px solid white;
  border-radius: 1px;
  list-style-type: none;
  color: rgb(234, 235, 243);
}

.listItem:nth-child(odd) {
  background-color: #4169e1;
}

.listItem:nth-child(even) {
  background-color: #224ed0;
}

.listItem:hover {
  transform: scale(1.01);
  color: rgb(237, 237, 230);
}

a,
.fontIcon {
  color: rgb(252, 253, 248);
}

a:hover,
.fontIcon:hover {
  color: rgb(251, 251, 249);
}

.homeItem {
  display: flex;
  justify-content: space-around;
  padding: 40px 30px;
}

img {
  width: 70px;
  height: 70px;
}

@media only screen and (max-width: 600px) {
  .homeList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2500px, 1fr));
  }

  .homeItem {
    display: flex;
    justify-content: space-around;
    padding: 30px 2px;
    font-size: 11px;
  }

  img {
    width: 50px;
    height: 50px;
  }

  .listItem,
  .fontIcon {
    color: rgb(254, 254, 251);
  }

  .listItem:nth-child(odd),
  .listItem:nth-child(even) {
    background-color: #3555b9; /* Change this color to your desired alternate shade */
  }
}
